<div class='recipe_holder'>
  <section class='name_button_section'>
    <a href="<%= user_recipe_path(user, recipe) %>">
      <h2 class='recipe_title'>
        <%= recipe.name %>
      </h2>
    </a>
    <%= button_to 'Remove', user_recipe_path(user,recipe), method: :delete, remote: true, class:'button delete_recipe_button' %>
  </section>
  <section class='description_section'>
    <p class='recipe_description'>
      <%= recipe.description %>
    </p>
  </section>
</div>
</a>