<div class='recipe_holder'>
  <section class='name_button_section'>
    <a href="<%= user_recipe_path(user, recipe) %>">
      <h2 class='recipe_title'>
        <%= recipe.name %>
      </h2>
    </a>
    <h2 class='recipe_owner'>
      By <%= user.name %>
    </h2>
  </section>
  <section class='public_totals_section'>
    <span class='total_food_items'>
      Total food items:
    </span>
    <span class='total_food_prices'>
      Total Price: 
    </span>
  </section>
</div>
