.recipe_logo_centered {
  width: 130px;
  height: 120px;
  aspect-ratio: 1/1;
  margin: 10px;
  margin-left: 45%;
}

.recipe_logo {
  width: 90px;
  height: 80px;
  aspect-ratio: 1/1;
  margin: 10px;
}

.underline {
  width: 150px;
  margin-left: 44.5%;
}

form {
  margin-top: 50px;
  text-align: center;
}

.field {
  padding: 10px 0px;
  margin-left: 10px;
}

.field > input {
  width: 375px;
  height: 25px;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.min_value_password {
  position: relative;
  right: 110px;
}

.checkbox {
  display: flex;
  margin-left: 36%;
}

.checkbox > input {
  text-align: center;
  width: 20px;
}

.checkbox > label {
  text-align: center;
  align-self: center;
}

.actions > input {
  padding: 8px 10px;
  width: 80px;
  text-align: center;
}

.signup_actions > input {
  position: relative;
  right: 10px;
  margin-top: 10px;
  padding: 8px 10px;
  width: 80px;
  text-align: center;
}

.actions > input:hover {
  background-color: lightgreen;
  border: 0px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px darkgreen;
}

.signup_actions > input:hover {
  background-color: lightgreen;
  border: 0px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px darkgreen;
}

.sign_options {
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
  font-weight: bolder;
  justify-content: center;
}

.sign_options > a {
  text-decoration: none;
  color: black;
}

.sign_options > a:hover {
  color: darkgreen;
  border-bottom: 2px solid lightgreen;
}